body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #87CEFA;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    box-shadow: 0px 0px 3px 0px black;
    width: 100vw;
}

.logo img {
    max-width: 150px;
    margin-right: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a,
select {
    font-size: 23px;
    padding: 5px 15px;
    display: inline-block;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 5px;
    border: none;
}

.btnCurso{
    padding: 10% 50%;
}

select {
    text-align: left;
}

nav ul li a:hover,
select:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.568);
}

/*Estilização da tabela*/

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
} 

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: lightgray;
    color: black;
    text-align: center;
}

tr:hover {
    background-color: #f5f5f5;
}

input[type="submit"] {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #87CEFA;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5F9EA0;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="date"]{
    width: 45%; /* Defina a largura desejada */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.titulo {
    text-align: center;
    color: black;
    margin-bottom: 0;
    margin-top: 1.5%;
}

.titulo h1 {
    font-size: 300%;
}

.titulo h3 {
    font-size: 150%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}


tr:hover {
    background-color: #f5f5f5;
}

th {
    background-color: lightgray;
    color: black;
    text-align: center;
}

 .pesquisaCpf {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
} 


.tabelaCurso {
    width: 50%;
}

.btnListar {
    margin-top: 2.5%;
    margin-bottom: 10%;
    width: 10px;
}

.datas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

label {
    color: gray;
    font-size: 15px;
}

.obrigatorio {
	color: red; /* Cor vermelha */
    font-size: 10px; /* Tamanho do asterisco */
    position: absolute; /* Posição absoluta em relação ao elemento pai */
    top: 0; /* Ajusta o topo */
    left: 5px; 
}

.input-wrapper {
    position: relative; /* Para que a posição absoluta do asterisco seja relativa a este elemento */
    margin-bottom: 10px; /* Espaçamento inferior */
}

.selectCustom {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    height: 45px;
    color: black;
}

.center {
    text-align: center;
}

.selectCustom:hover {
    background-color: transparent;
    box-shadow: none;
    height: 45px;
    cursor: pointer;
}

.tabelaAluno{
    word-wrap: break-word;
    white-space: normal;
	width: 60%;
}

.tabelaDispensa {
	width: 340px;
	padding-top: 0px;
}

.formDispensa {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.formDispensa:first-child {
    margin-bottom: 0; /* Remove a margem inferior do primeiro formulário */
}

.formDispensa:nth-child(2) {
    margin-top: 0; /* Remove a margem superior do segundo formulário */
}

.formDispensa1 {
	width: 350px;
}

input[type="submit"].confirmar{
    width: 100%;
    padding: 5px 5px;
    background-color: green;
    text-align: center; /* Centraliza o texto */
    white-space: nowrap; 
}

input[type="submit"].negar{
    width: 100%;
    padding: 5px 5px;
    background-color: red;
}

.formDispensa{
    width: 56%;
}

.cpfDispensa{
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 30px;
}

.pesquisaCpf {
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

input[type="text"].inputCPF {
    width: 40%;
    margin-right: 10px;
}

input[type="submit"].btnCPF {
    width: 30%;
}

table.tabelaSolicitaDispensa{
    width: 100%;
}

.conteudoHistorico {
	width: 70%;
}

.cpfHistorico {
	width: 80%;
    display: flex;
    justify-content: flex-start;
}

